.footer {
  background-color: var(--secondary-background-color);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-area {
  display: flex;
  align-items: baseline;
}
.logo-footer-color {
  color: var(--third-text-color);
}
